#### Ethereum

function set-eth-contracts-settings() {
  update-config RELAYER_ADDR_0 klv1...
  update-config RELAYER_ADDR_1 klv1...
  update-config RELAYER_ADDR_2 klv1...
  update-config QUORUM 3

  manual-update-config-file
}

function set-eth-USDC-token-settings {
  update-config NR_DECIMALS_CHAIN_SPECIFIC 6
  update-config NR_DECIMALS_UNIVERSAL 6
  update-config NR_DECIMALS_ERC20 6
  update-config UNIVERSAL_TOKEN USDC-c76f1f
  update-config CHAIN_SPECIFIC_TOKEN_TICKER ETHUSDC
  update-config CHAIN_SPECIFIC_TOKEN ETHUSDC-220753
  update-config ERC20_TOKEN 0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
  update-config MINTBURN_WHITELIST true
  update-config NATIVE_TOKEN false
  update-config FEE_AMOUNT 20
  update-config MAX_AMOUNT 50000
  update-config ETH_MAX_AMOUNT 1000000000000

  manual-update-config-file
}

### common

function set-oracle-addresses {
  update-config ORACLE_ADDR_0 klv1...
  update-config ORACLE_ADDR_1 klv1...
  update-config ORACLE_ADDR_2 klv1...

  manual-update-config-file
}

function set-eth-contracts {
  update-config AGGREGATOR klv1...
  update-config SAFE klv1...
  update-config BRIDGED_TOKENS_WRAPPER klv1...
  update-config MULTI_TRANSFER klv1...
  update-config MULTISIG klv1...
  update-config BRIDGE_PROXY klv1...
}