#!/bin/bash
set -e

source $SCRIPTPATH/config/aggregator-snippets.sh
source $SCRIPTPATH/config/issue-tokens-snippets.sh
source $SCRIPTPATH/config/multisig-snippets.sh
source $SCRIPTPATH/config/multitransfer-snippets.sh
source $SCRIPTPATH/config/proxy-snippets.sh
source $SCRIPTPATH/config/relayers-snippets.sh
source $SCRIPTPATH/config/wrapped-snippets.sh
source $SCRIPTPATH/config/safe-snippets.sh
source $SCRIPTPATH/config/testing.sh
source $SCRIPTPATH/config/mainnet-release-v3.sh
source $SCRIPTPATH/release-v3/config-setter.cfg

CHECK_VARIABLES ALICE PROXY CHAIN_ID

function deploy-bridge-contracts-eth-v3 {
  echo -e
  echo "PREREQUIREMENTS: The BRIDGED_TOKENS_WRAPPER address should be defined in configs.cfg file"
  echo -e

  set-eth-contracts-settings
  set-oracle-addresses

  confirmation-with-skip deployAggregator
  confirmation-with-skip manual-update-config-file

  deploy-chain-only-contract
}

function deploy-chain-only-contract {
  confirmation-with-skip deployMultiTransfer
  manual-update-config-file
  confirmation-with-skip deploySafe
  manual-update-config-file
  confirmation-with-skip deployBridgeProxy
  manual-update-config-file
  confirmation-with-skip deployMultisigMainnetV3
  manual-update-config-file

  confirmation-with-skip addAdminToKdaSafe
  confirmation-with-skip addAdminToMultiTransfer
  confirmation-with-skip setBridgedTokensWrapperOnMultiTransfer

  confirmation-with-skip setBridgedTokensWrapperOnKdaSafe

  confirmation-with-skip changeChildContractsOwnershipSafe
  confirmation-with-skip changeChildContractsOwnershipMultiTransfer

  confirmation-with-skip setKdaSafeOnMultiTransferThroughMultisig
}

function unpause-contracts-eth-v3 {
  confirmation-with-skip unpauseAggregator
  confirmation-with-skip unpause
  confirmation-with-skip unpauseKdaSafe
  confirmation-with-skip unpauseProxy
}

function set-tokens-on-eth {
  confirmation-multiple set-eth-USDC-token-settings addMapping addTokenToWhitelist setPairDecimals setErc20Decimals
}

function stake-oracles {
  echo -e
  echo "PREREQUIREMENTS: The AGGREGATOR address should be defined in configs.cfg file"
  echo -e

  confirmation-with-skip manual-update-config-file
  set-oracle-addresses

  confirmation stakeOracles
}

function submit-aggregation-batches-eth {
  echo -e
  echo "PREREQUIREMENTS: The AGGREGATOR address should be defined in configs.cfg file"
  echo -e

  confirmation-with-skip manual-update-config-file
  set-oracle-addresses

  confirmation-multiple set-eth-USDC-token-settings submitAggregatorBatch
}

function stake-relayers-eth {
  set-eth-contracts-settings

  confirmation-with-skip stakeRelayers
}

function set-roles-on-kda-safe-eth {
  confirmation-multiple set-eth-USDC-token-settings setLocalRolesKdaSafe
}

function unpause-wrapper {
  confirmation-with-skip wrapper-unpause
}

function set-token-limits-on-eth {
  confirmation set-eth-contracts

  confirmation-multiple set-eth-USDC-token-settings kdaSafeSetMaxBridgedAmountForToken multiTransferKdaSetMaxBridgedAmountForTokenWithRAWValue
}

