#============CHAIN==============

PROXY=http://localhost:8080
CHAIN_ID=420420

#============OWNER==============

ALICE="./wallets/klv12e0kqcvqsrayj8j0c4dqjyvnv4ep253m5anx4rfj4jeq34lxsg8s84ec9j.pem"
ALICE_ADDRESS=klv12e0kqcvqsrayj8j0c4dqjyvnv4ep253m5anx4rfj4jeq34lxsg8s84ec9j


#============WASM FILES==============

AGGREGATOR_WASM="./klv-price-aggregator-sc.wasm"
SAFE_WASM="./kda-safe.wasm"
BRIDGED_TOKENS_WRAPPER_WASM="./bridged-tokens-wrapper.wasm"
MULTI_TRANSFER_WASM="./multi-transfer-kda.wasm"
MULTISIG_WASM="./multisig.wasm"
FAUCET_WASM="./faucet.wasm"
TEST_CALLER_WASM="./test-caller.wasm"

#============CONTRACT ADDRESSES==============

AGGREGATOR=klv1qqqqqqqqqqqqqpgqnrjh03d24xzy6ln7rs4xfdl89e9d7vqxsg8sd07qzf
SAFE=klv1qqqqqqqqqqqqqpgq09l6mnkz358za2kydkf7r3ejz0agu27rsg8s6esxsj
BRIDGED_TOKENS_WRAPPER=klv1qqqqqqqqqqqqqpgq4y9nzqkmn9xw3j4lzlkq26e2rxvxshutsg8srgfdz8
MULTI_TRANSFER=klv1qqqqqqqqqqqqqpgqnc2gh5ml6x5u8kphxslypkrzqvuxxnuusg8s6yda6c
MULTISIG=klv1qqqqqqqqqqqqqpgq5p7g03uamk9l5qh92n2fewq4k2zz3njmsg8snr852r
FAUCET=
TEST_CALLER=

#============TOKENS SETTINGS==============
NR_DECIMALS_CHAIN_SPECIFIC=6
NR_DECIMALS_UNIVERSAL=6
NR_DECIMALS_ERC20=6

UNIVERSAL_TOKEN_TICKER=USDC
UNIVERSAL_TOKEN_DISPLAY_NAME=WrappedUSDC

CHAIN_SPECIFIC_TOKEN_TICKER=ETHUSDC
CHAIN_SPECIFIC_TOKEN_DISPLAY_NAME=EthereumWrappedUSDC
UNIVERSAL_TOKENS_ALREADY_MINTED=0 # do not add the decimals on this value

#============TOKENS TO BE WHITELISTED==============
UNIVERSAL_TOKEN=USDC-2GSV
CHAIN_SPECIFIC_TOKEN=ETHUSDC-3RRK
ERC20_TOKEN=82afDD299Adf4b1e6E101BF6508b52384aa0714f
MINTBURN_WHITELIST=true
NATIVE_TOKEN=false

TOTAL_BALANCE=0
MINT_BALANCE=0
BURN_BALANCE=0
#============BRIDGE SETTINGS==============

FEE_AMOUNT=50 # value without decimals
MAX_AMOUNT=100000 # value without decimals

RELAYER_REQUIRED_STAKE=10 #10KFI
SLASH_AMOUNT=0
QUORUM=3

#==========AGGREGATOR SETTINGS=============

ORACLE_REQUIRED_STAKE=10 #10KFI
AGGREGATOR_SUBMISSION_COUNT=3
AGGREGATOR_SLASH_QUORUM=2
AGGREGATOR_SLASH_AMOUNT=2 #2KFI

#============BATCH SETTINGS==============

MAX_TX_PER_BATCH=70
MAX_TX_BLOCK_DURATION_PER_BATCH=100 #10minutes

ETH_MAX_AMOUNT=0

#============RELAYERS ADDRESSES==============
RELAYER_ADDR_0=klv1e3jsvrfyt7qw4xm75js76q44jyhl8hjr95fgxlu7p3chzl2xprzss4nndl
RELAYER_ADDR_1=klv1evsuhmz5taadc443kynf4074njy60ydgtayazh6dkq8f4lztcreq3w4xhk
RELAYER_ADDR_2=klv1hdhtwsdheh9fyfdf6q6p6ds3hq2wgaupvrk5r3d0yl06khcu8nxq2g0x4g
RELAYER_ADDR_3=klv1pp8de896uv9j6y038xwh9tdsncvju38tuxnkx3ewxpenp3hx4nlquunlyn
RELAYER_ADDR_4=klv1sdpxun2dxwne27szluqws4ekj38shdsps494rxc0xdamke0mp8mq28m5ah
RELAYER_ADDR_5=klv1yfngsq0tjt3jdmtjzzcxkt58afazl2lhcfc26gtxfrvcg33jdt6qtwg8rk
RELAYER_ADDR_6=klv1z3pmycjzh67kh7lkm889lhww5mj7p0zpgjl2dvghfdqhwghlw2fq7fl7l6
RELAYER_ADDR_7=klv166khda6z5wfqeh4el0tzh6gc2j578xzxu8dcmgzj2aa24urd5u6sk4mpjk
RELAYER_ADDR_8=klv166knsusx7kwalsltyk99f4gpulj5mhl0lv2pf9syg97s2ps08jpq9g9s7n
RELAYER_ADDR_9=klv1476tk9vl2qkwtlk467qx7eqlmwemlu8chfh9a468xermd72xg64sgqc40y

RELAYER_WALLET0="./walletsRelay/${RELAYER_ADDR_0}.pem"
RELAYER_WALLET1="./walletsRelay/${RELAYER_ADDR_1}.pem"
RELAYER_WALLET2="./walletsRelay/${RELAYER_ADDR_2}.pem"
RELAYER_WALLET3="./walletsRelay/${RELAYER_ADDR_3}.pem"
RELAYER_WALLET4="./walletsRelay/${RELAYER_ADDR_4}.pem"
RELAYER_WALLET5="./walletsRelay/${RELAYER_ADDR_5}.pem"
RELAYER_WALLET6="./walletsRelay/${RELAYER_ADDR_6}.pem"
RELAYER_WALLET7="./walletsRelay/${RELAYER_ADDR_7}.pem"
RELAYER_WALLET8="./walletsRelay/${RELAYER_ADDR_8}.pem"
RELAYER_WALLET9="./walletsRelay/${RELAYER_ADDR_9}.pem"

#============ORACLE ADDRESSES==============
ORACLE_ADDR_0=klv1qx8lk9dt0enm98psnym23qpf8rjhzafsd25upszh66wxsg0efd6q8ds3jx
ORACLE_ADDR_1=klv1yyh2sjey7resf8yjjuz6chgysajuhva2e27rrvsvferlez59w0psdrlp4c
ORACLE_ADDR_2=klv1zqv4vlnh7pd2kswyg34gp0u7td5laj6nmuh24n4cr5typdwjn8as48273u

ORACLE_WALLET0="./walletsOracle/${ORACLE_ADDR_0}.pem"
ORACLE_WALLET1="./walletsOracle/${ORACLE_ADDR_1}.pem"
ORACLE_WALLET2="./walletsOracle/${ORACLE_ADDR_2}.pem"
